doctype html
html
  head
    title Instagram
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')

  body

    nav.navbar.navbar-inverse.navbar-static-top
      div.navbar-header
        a.navbar-brand(href="/") Instagram

    div.container
      block content
